<div class="banner mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(./assets/images/pictures.jpg);">
   <div class="container"> 
      <h1>My Favourite Movies</h1>
      <h2>Your resource for the best movie ratings here</h2>
      <a class="btn btn-light" href="/lists/new" role="button">Create a new list</a>
    </div>
</div>

<% @lists.each do |list| %>
  <div class="card-product mb-4">
    <img src="https://source.unsplash.com/random" />
    <div class="card-product-infos">
      <%= link_to list.name, list_path(id: list.id) %>
    </div>
  </div>
<% end %>

